.custom-bg-class {
}

section {
	padding-left: 800px;
	font-family: 'Nanum Pen Script', cursive;
}

h2 {
	margin: 10px;
}

ul {


}

li {
	font-size: 25px;
	font-weight: bold;
	color: black;
	font-style: italic;
	margin: 10px;
}

button {
	margin-left: 50px;
	border:  1px solid black
	}
