.custom-bg-class {
	background-image: url(/assets/images/setlist-wooden-background-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #e4e6eb;
}

section {
	font-family: 'Nanum Pen Script', cursive;
	color: black;
	background-image: url(/assets/images/Paper.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

h2 {
	color: black;
	font-style: italic;
}

li {
	color: black;
	font-style: italic;
}

li button {
	margin-left: 1rem;
	padding-left: 3px;
	padding-right: 3px ;
	border: solid black;
	border-radius: 5px;
}
